.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00A2E1;
    color: white;
    height: 60px;
    left: 0px;
    top: -1px;
    padding: 0 100px;
}

.header-container a {
    font-size: 200%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    color: white;
}

.logo a {
    color: white;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.shortlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-left: 20px;
}

.contact p {
    margin-left: 20px;
    width: auto;
}


