.all-cities-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.cities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button  {
    width: 302px;
    height: 88px;
    margin: 20px;
    cursor: pointer;
    color: white;
    background: #3A5295;
    border-radius: 12px;
    font-size: 15pt;
}

button:hover {
    background-color: red;
}